.navbar {
  background: #6a1b9a;
  height: 50px;
  margin-top: 0%;  
  width: 100%;
}
ul {
  width: 100%;
  /* margin-left: 20%; */
}

.navbar li {
  display: inline-block;
  font-size: 1.3rem;
  /* text-align: center; */
  color: white;
  margin-top: 20px;
  /* margin-left: 5%; */
}
.navbar a {
  color: white;
  /* font-size: 1.3rem; */
  /* text-decoration: none; */
  /* margin: 50px; */
  /* line-height: 3; */
}

.winorLoose {
  margin-left: 23%;  
  width: 35%;
}
.currScore {
  width: 15%;
}
.topScore {
  margin-left: 5%;  
}